.footer {
  position: relative;
  z-index: 10;
  padding: 0;
  background-color: var(--color-background-secondary);

  &.dark {
    .arrow-pointer {
      .arrow {
        fill: var(--color-background-primary);
      }
    }
    .follow-us__list {
      .follow-us__link {
        border-color: var(--color-brand-white);

        &:hover {
          background: var(--color-background-primary);

          a {
            color: var(--color-text-black);
          }
        }
      }
    }
  }
}

.arrow-pointer {
  width: 64px;
  height: 64px;
}

.footer.dark {
  background-color: var(--color-background-black);
}
.footer.dark p,
.footer.dark span,
.footer.dark a {
  color: var(--color-brand-white);
}
.footer__title,
.footer__offices {
  border-color: var(--color-brand-black);
}
.footer__title {
  border-bottom: 1px solid;
  border-top: 1px solid;
}
.footer.dark .footer__offices {
  border-top: 1px solid;
  border-color: var(--color-brand-white);
}
.footer__offices.wrapper {
  padding: 0;
}
.footer__offices .logo_worldwide {
  display: none;
}
.footer__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.6rem 0;
  position: relative;
}

.footer__title .logo_gdi--mob {
  position: relative;
  z-index: 1;
  width: 200px;
}

.footer__title .logo_worldwide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
}

.footer__follow-us {
  padding-bottom: 3.9rem;
}

.follow-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.6rem 0 1.6rem;
  border-bottom: 4px solid var(--color-brand-black);
}

.footer.dark .follow-us {
  border-bottom: 4px solid var(--color-background-primary);
}
.follow-us__title {
  display: none;
}
.footer__title .title {
  font-size: 33px;
  line-height: 33px;
  width: 100%;
}
.follow-us__title > p {
  display: none;
}

.follow-us__list {
  width: 100%;
  max-width: 1440px;
  align-self: center;
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;

  li {
    padding: 10px 0;
    margin: 0 2rem 0 0;

    &.follow-us__link {
      border-radius: 40px;
      border-width: 1px;
      margin: 0.5rem 0.35rem;
      padding: 0.5rem 1.5rem;
      border-color: var(--color-text-dark);
      transition: background 1s var(--easeOutExpo);
      font-size: 21px;

      a {
        transition: color 1s var(--easeOutExpo);
      }

      &:hover {
        color: var(--color-text-white);
        background: var(--color-brand-black);
      }
    }
  }
}

.follow-us__list li .follow-us__title {
  padding-bottom: 5px;
}

.follow-us__link a {
  color: var(--color-text-dark);
  line-height: 2.4rem;
}

.follow-us__link a:not(:last-child) {
  margin-bottom: 0.8rem;
}

.extra-links {
  display: flex;
  flex-direction: column;
  padding-bottom: 3.9rem;

  .link {
    padding: 0 0 2rem 0;

    .link-content {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

.office {
  display: flex;
  flex-direction: column;
}

.office__title {
  outline: none;
  border-color: var(--color-brand-black);
  text-align: left;
  position: relative;
  height: 6.4rem;
  padding: 16px 0px;
  padding: 0 2rem;
}

.office__title > span {
  margin-left: 1.4rem;
  color: var(--color-brand-dark);
}

.footer.dark .office__title span {
  color: #fff;
}

.office__title > p {
  position: relative;
  top: 10px;
  font-size: 25px;
  line-height: 0;
  margin-top: 6px;
  transform: rotate(45deg);
  float: left;
  transition: all 0.3s ease;
}

.office.open .office__title > p {
  transform: rotate(225deg);
}

.office__title > .header_heading04 {
  padding-left: 30px;
}

.office__content {
  white-space: pre-line;
  height: 280px;
  max-height: 0;
  overflow: hidden;
  border-bottom: 1px solid;
  border-color: var(--color-brand-black);
  transition: all 0.3s ease;
  padding: 0 3rem;
}

.footer.dark .office__content {
  border-color: var(--color-brand-white);
}

.office__content p {
  padding: 0 2rem;
}

.office.open .office__content {
  display: block;
  max-height: 300px;
}

.office__location,
.office__mail {
  padding: 0 2rem;
}

@media (min-width: 375px) {
  .link > span {
    color: #000000;
    text-transform: uppercase;
  }
  .link.dark > * {
    color: #ffffff;
  }

  .link-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .link-copy {
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .follow-us {
    padding: 0rem 0rem;
  }
  .follow-us__list {
    margin: 0;
    padding: 0 6rem;
  }

  .office__location {
    padding: 0 2rem;
  }

  .office__content {
    padding: 0 7rem;
  }

  .office__title {
    padding: 0 6rem;
  }

  .office__content .cursor {
    content: '';
    position: fixed;
    width: 48px;
    height: 48px;
    background: var(--color-card-lead-pink);
    border-radius: 50%;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    z-index: -10;
    transition: 0.2s opacity ease, 0.4s transform ease-out;
    pointer-events: none;
  }
}

@media (min-width: 1024px) {
  .follow-us__title {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1280px) {
  .office {
    padding: 0 2rem;
    max-width: 34rem;
  }
  .office__content {
    border-bottom: none;
    max-height: unset;
    padding: 2rem 0rem;
  }
  .office__content p {
    padding: unset;
    margin-left: 0;
  }
  .office .office__title > img {
    display: none;
  }
  .office__title {
    pointer-events: none;
    height: auto;
    padding: 0;
    border-bottom: 1px solid #000;
  }
  .footer.dark .office__title {
    border-bottom: 1px solid #fff;
  }

  .office__title > p {
    display: none;
  }
  .office__title > .header_heading04 {
    padding-left: 0;
  }
  .office .office__content {
    display: block;
    min-height: auto;
    height: auto;
  }

  .office__location {
    padding: 0;
  }

  .office__mail {
    padding: 0;
  }

  .office__mail > .text-large {
    font-size: 12px;
  }

  .footer__title {
    padding: 1.3vw 0;
  }
  .footer__title .title {
    font-size: 38px;
    line-height: 1.5em;
    width: 100%;
  }
  .footer__title .logo_gdi--mob {
    width: 20vw;
  }
  .footer__offices {
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
  }
  .footer__offices.wrapper {
    padding: 2rem 4rem;
    max-width: 1440px;
    align-self: center;
  }
  .footer__offices .logo_worldwide {
    display: block;
    width: 8vw;
    max-width: 90px;
    padding-left: 1vw;
    position: relative;
    z-index: 1;
  }
  .footer__follow-us {
    border-top: solid 1px #000;
  }
  .footer.dark .footer__follow-us {
    border-top: solid 1px #fff;
  }

  .follow-us__list {
    align-items: center;
    margin-top: 0;
  }
  .follow-us__list li.follow-us__link {
    margin: 0.5rem 1rem;
    padding-left: 1.75rem;
    text-align: center;
  }
  .follow-us__title > img {
    position: relative;
    width: 2.5vw;
    display: block;
    z-index: 1;
  }
  .follow-us__title > .header_heading03 {
    padding-left: 20px;
  }

  .follow-us__title > p {
    display: block;
    font-size: 60px;
    line-height: 0;
  }

  .extra-links {
    flex-direction: row;

    .link {
      display: flex;
      justify-items: center;
      align-items: center;
      justify-content: center;
      padding: 0 0 0 0;

      &:after {
        content: '|';
        position: relative;
        font-size: 18px;
        margin: 0 1rem;
      }

      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }
}
