<section class="login-section" *ngIf="!user">
  <p class="wrapper">Get your Christmas video. First login.</p>
  <p class="wrapper">
    <app-google-signin
      (loginWithGoogle)="googleSignin($event)"
    ></app-google-signin>
  </p>
</section>
<section class="video-section" *ngIf="user">
  <p class="wrapper">Get your Christmas video.</p>
  <button class="btn btn-google" (click)="logout()">
    <div class="g-icon">
      <img src="https://img.icons8.com/color/22/000000/google-logo.png" />
    </div>
    <span class="g-text g-sign">Sign out from Google</span>
  </button>
  <video controls>
    <source [src]="videoUrl" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <p class="wrapper h-20" style="padding-top: 15px">
    Then, download it
    <a
      class="bg-gray-900 hover:shadow-2xl transition-all text-white py-3 px-4 rounded"
      [href]="videoUrl"
      >here 🚀</a
    >
  </p>
  <p class="wrapper">Finally, share it wherever you want.</p>
  <p class="wrapper share-buttons flex flex-row gap-x-2">
    <a
      class="linkedin"
      href="https://www.linkedin.com/feed"
      target="_blank"
    ></a>
    <a class="facebook" href="https://www.facebook.com" target="_blank"> </a>
    <a
      class="twitter"
      href="https://twitter.com/intent/tweet"
      target="_blank"
    ></a>
    <a class="whatsapp" href=" https://wa.me" target="_blank"> </a>
  </p>
</section>
