<div class="footer__title">
  <p class="title garaje-typo wrapper">Garaje de ideas</p>
</div>
<div class="footer__offices grid grid-cols-1 xl:grid-cols-9 xl:gap-6 wrapper">
  <img
    class="logo_worldwide"
    src="../../assets/img/logo_worldwide.svg"
    alt="worldwide image"
  />
  <div class="office col-span-2">
    <button class="office__title" onclick="onClickTitle(this)">
      <p class="garaje-symbols office-arrow">2</p>
      <h4 class="header_heading04">Madrid</h4>
    </button>
    <div class="office__content">
      <div class="office__location">
        <div class="cursor"></div>
        <a
          rel="noopener"
          href="https://goo.gl/maps/SH1DUUtuwPeNAuBi6"
          target="_blank"
          class="text-large"
          >40.4356° Lat, -3.7057° Long</a
        >
      </div>
      <p class="text-large"><br />garajedeideas.com<br />+34 910 51 94 90</p>
      <div class="office__mail link-hover">
        <a href="mailto:hola@garajedeideas.com" class="text-large"
          >hola@garajedeideas.com</a
        >
      </div>
    </div>
  </div>
  <div class="office col-span-2">
    <button class="office__title" onclick="onClickTitle(this)">
      <p class="garaje-symbols office-arrow">2</p>
      <h4 class="header_heading04">Málaga</h4>
    </button>
    <div class="office__content">
      <div class="office__location">
        <div class="cursor"></div>
        <a
          rel="noopener"
          href="https://goo.gl/maps/w282KCPoLvAgiPiz6"
          target="_blank"
          class="text-large"
          >36.7375° Lat, -4.5525° Long
        </a>
      </div>
      <p class="text-large"><br />garajedeideas.com<br />+34 952 219 135</p>
      <div class="office__mail link-hover">
        <a href="mailto:hola.malaga@garajedeideas.com" class="text-large"
          >hola.malaga@garajedeideas.com</a
        >
      </div>
    </div>
  </div>
  <div class="office col-span-2">
    <button class="office__title" onclick="onClickTitle(this)">
      <p class="garaje-symbols office-arrow">2</p>
      <h4 class="header_heading04">Buenos Aires</h4>
    </button>
    <div class="office__content">
      <div class="office__location">
        <div class="cursor"></div>
        <a
          rel="noopener"
          href="https://www.google.com/maps/place/Garaje+de+ideas+Argentina/@-34.6062803,-58.3642374,15z/data=!4m6!3m5!1s0x95a335594c556a6d:0x3bcb3e546ff741b9!8m2!3d-34.6062803!4d-58.3642374!16s%2Fg%2F11kqkrrm9y?hl=es&amp;entry=ttu"
          target="_blank"
          class="text-large"
          >-34.60610° Lat, -58.36424° Long</a
        >
      </div>
      <p class="text-large"><br />garajedeideas.com.ar <br /><br /></p>
      <div class="office__mail link-hover">
        <a href="mailto:hola.buenosaires@garajedeideas.com" class="text-large"
          >hola.buenosaires@garajedeideas.com</a
        >
      </div>
    </div>
  </div>
  <div class="office col-span-2">
    <button class="office__title" onclick="onClickTitle(this)">
      <p class="garaje-symbols office-arrow">2</p>
      <h4 class="header_heading04">Granada</h4>
    </button>
    <div class="office__content">
      <div class="office__location">
        <div class="cursor"></div>
        <a
          rel="noopener"
          href="https://www.google.com/maps/place/Av.+del+Conocimiento,+41,+18016+Granada/@37.1478547,-3.5998195,17z/data=!4m13!1m7!3m6!1s0xd71fb5d142a595d:0x80c0107dcbb5d6fc!2sAv.+del+Conocimiento,+41,+18016+Granada!3b1!8m2!3d37.1478547!4d-3.5998195!3m4!1s0xd71fb5d142a595d:0x80c0107dcbb5d6fc!8m2!3d37.1478547!4d-3.5998195"
          target="_blank"
          class="text-large"
          >37.1478547° Lat, -3.5998195° Long
        </a>
      </div>
      <p class="text-large"><br />garajedeideas.com <br /><br /></p>
      <div class="office__mail link-hover">
        <a href="mailto:hola.granada@garajedeideas.com" class="text-large"
          >hola.granada@garajedeideas.com</a
        >
      </div>
    </div>
  </div>
</div>
<div class="footer__follow-us">
  <div id="rrss" class="follow-us">
    <ul class="follow-us__list wrapper">
      <li class="lg:col-span-2">
        <div class="follow-us__title">
          <div data-v-4803c17f="" class="arrow-pointer arrow-pointer">
            <img
              class="arrow-icon"
              src="../../assets/img/arrow_icon.svg"
              alt="arrow pointing sowth east"
            />
          </div>
        </div>
      </li>
      <li class="follow-us__link header_heading04">
        <a
          rel="noopener"
          href="https://www.linkedin.com/company/garaje-de-ideas/"
          target="_blank"
          >In</a
        >
      </li>
      <li class="follow-us__link header_heading04">
        <a
          rel="noopener"
          href="https://twitter.com/garajedeideas"
          target="_blank"
          >Tw</a
        >
      </li>
      <li class="follow-us__link header_heading04">
        <a
          rel="noopener"
          href="https://www.instagram.com/garaje_de_ideas"
          target="_blank"
          >IG
        </a>
      </li>
      <li class="follow-us__link header_heading04">
        <a
          rel="noopener"
          href="https://www.youtube.com/c/GarajedeIdeas/videos"
          target="_blank"
          >YT</a
        >
      </li>
      <li class="follow-us__link header_heading04">
        <a
          rel="noopener"
          href="https://www.twitch.tv/garajedeideas"
          target="_blank"
          >Tch</a
        >
      </li>
    </ul>
  </div>
</div>
<div class="extra-links wrapper body-small">
  <div class="link link">
    <a
      class="link-content link-hover"
      href="https://garajedeideas.com/en/legal-notice/"
      target="_blank"
      ><span class="link-copy">Legal Notice</span></a
    >
  </div>
  <div class="link link">
    <a
      class="link-content link-hover"
      href="https://garajedeideas.com/privacidad/"
      target="_blank"
      ><span class="link-copy">Privacy policy</span></a
    >
  </div>
  <div class="link link">
    <a
      class="link-content link-hover"
      href="https://garajedeideas.com/cookies/"
      target="_blank"
      ><span class="link-copy">Cookies</span></a
    >
  </div>
  <div class="link link">
    <a
      class="link-content link-hover"
      href="https://garajedeideas.com/en/social-media-policy/"
      target="_blank"
      ><span class="link-copy">Social Media Policy</span></a
    >
  </div>
</div>
