<div class="nav">
  <div class="navbar wrapper">
    <div class="logo-cont">
      <button
        aria-hidden="true"
        class="btn btn--logo-gdi"
        onclick="window.open('https://garajedeideas.com/')"
      >
        Garaje Logo
      </button>
    </div>
    <div class="btn button" onclick="onClickMenu()">
      <div class="menu-btn__burger"></div>
    </div>
  </div>
</div>
<div class="menu-content">
  <div class="navigation menu-mobile">
    <ul class="navigation__links">
      <li class="navigation__link link-js">
        <a target="_blank" href="https://garajedeideas.com/en/servicios/"
          ><p class="header_heading01">Services</p></a
        >
      </li>
      <li class="navigation__link link-js">
        <a target="_blank" href="https://garajedeideas.com/en/proyectos/"
          ><p class="header_heading01">Projects</p></a
        >
      </li>
      <li class="navigation__link link-js">
        <a target="_blank" href="https://garajedeideas.com/en/nosotros/"
          ><p class="header_heading01">About us</p></a
        >
      </li>
      <li class="navigation__link link-js">
        <a target="_blank" href="https://garajedeideas.com/en/talento/"
          ><p class="header_heading01">Talent</p></a
        >
      </li>
      <li class="navigation__link link-js">
        <a target="_blank" href="https://garajedeideas.com/en/contacto/"
          ><p class="header_heading01">Contact</p></a
        >
      </li>
    </ul>
  </div>
</div>
